* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Yu Gothic";
}

a {
    color: #7d6aad;
    text-decoration: none;
}

.header {
    background-color: #202020;
    color: #e6e6e6;
    height: 100px;
}

.header-logo {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    padding: 25px;
}

.main {
    background-color: #121212;
    color: #e6e6e6;
    /* padding-left: 15%;
    padding-right: 15%; */
    
}

.intro {
    width: 80%;
    max-width: 550px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}

.icon img {
    width: 160px;
    border-radius: 50%;
}

.icon {
    float: left;
}

.explain {
    float: left;
    padding-top: 20px;
    padding-left: 30px;
}

.section {
    max-width: 1000px;
    margin: 0 auto;
    width: 80%;
}

.section-contents {
    margin-bottom: 60px;
}

.section-title {
    border-bottom: 2px solid #444;
    padding-bottom: 8px;
    margin-bottom: 30px;
}

.container {
    margin: 0 auto;
    padding: 15px;
    width: 95%;
    column-count: 4;
    column-gap: 10px;
    /* grid-template-columns: 1fr 1fr; */
  }

@media (max-width: 1000px) {
  .container {
    column-count: 3;
  }
}
  
@media (max-width: 800px) {
  .container {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .container {
    column-count: 1;
  }
}

/* .buf {
    height: 100px;
    width: 1000px;
} */

.item {
    /* background-color: #1e1e1e;
    width: 200px; */
    background-color: #1e1e1e;
    padding: 15px;
    margin-bottom: 10px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    /* border: 10px solid #1e1e1e; */
}

.item img {
    width: 100%;
}

.item p {
    text-align: center;
}

.footer {
    background-color: #202020;
    height: 200px;
}
